[user]
	email =
	name =
[core]
	editor = vim
[push]
	default = matching
[credential]
	helper = store
[alias]
	lg = log --stat --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen (%cr) %C(bold blue)<%an>%Creset'
	st = status
	co = checkout
	ci = commit
	br = branch
